<!--
  Generated template for the RestaurantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Restaurant</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>
  <style>
    .black {
      color: black;
    }
  </style>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label class="black">RESTAURANT TYPE</ion-label>
    <ion-select (ionChange)="typeOpt();" [(ngModel)]="type">
      <ion-option value="Any">Any</ion-option>
      <ion-option value="FastFood">Fast Food</ion-option>
      <ion-option value="Cafe">Cafe</ion-option>
      <ion-option value="FamilyStyle">Family Style</ion-option>
      <ion-option value="Japanese">Japanese</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>HALAL</ion-label>
    <ion-toggle (ionChange)="halalOpt();" [(ngModel)]="halal"></ion-toggle>
  </ion-item>

  <div id="nope">
    <!--If type is 'Any'-->
    <div *ngIf="type=='Any'">

      <h2>Cafe List</h2>
      <ion-list *ngFor="let item of cafeRef$ | async">
        <div *ngIf="returnStation(item)">
          <button ion-item *ngIf="returnHalal(item)" (click)="findMap(item)">
            <p>Restaurant Name: {{item.name}}</p>
            <p>Restaurant Lat: {{item.lat}}</p>
            <p>Restaurant Long: {{item.lng}}</p>
            <p>Halal: {{item.halal}}</p>
          </button>
        </div>
      </ion-list>

      <h2>Fast Food List</h2>
      <ion-list *ngFor="let item of fastFoodRef$ | async">
        <div *ngIf="returnStation(item)">
          <button ion-item *ngIf="returnHalal(item)" (click)="findMap(item)">
            <p>Restaurant Name: {{item.name}}</p>
            <p>Restaurant Lat: {{item.lat}}</p>
            <p>Restaurant Long: {{item.lng}}</p>
            <p>Halal: {{item.halal}}</p>
          </button>
        </div>
      </ion-list>

      <h2>Family Style List</h2>
      <ion-list *ngFor="let item of familyStyleRef$ | async">
        <div *ngIf="returnStation(item)">
          <button ion-item *ngIf="returnHalal(item)" (click)="findMap(item)">
            <p>Restaurant Name: {{item.name}}</p>
            <p>Restaurant Lat: {{item.lat}}</p>
            <p>Restaurant Long: {{item.lng}}</p>
            <p>Halal: {{item.halal}}</p>
          </button>
        </div>
      </ion-list>

      <h2>Japanese List</h2>
      <ion-list *ngFor="let item of japaneseRef$ | async">
        <div *ngIf="returnStation(item)">
          <button ion-item *ngIf="returnHalal(item)" (click)="findMap(item)">
            <p>Restaurant Name: {{item.name}}</p>
            <p>Restaurant Lat: {{item.lat}}</p>
            <p>Restaurant Long: {{item.lng}}</p>
            <p>Halal: {{item.halal}}</p>
          </button>
        </div>
      </ion-list>
    </div>

    <!--If type is 'Cafe'-->
    <div *ngIf="type=='Cafe'">
      <h2>Cafe List</h2>
      <ion-list *ngFor="let item of cafeRef$ | async">
        <div *ngIf="returnStation(item)">
          <button ion-item *ngIf="returnHalal(item)" (click)="findMap(item)">
            <p>Restaurant Name: {{item.name}}</p>
            <p>Restaurant Lat: {{item.lat}}</p>
            <p>Restaurant Long: {{item.lng}}</p>
            <p>Halal: {{item.halal}}</p>
          </button>
        </div>
      </ion-list>
    </div>

    <!--If type is 'FastFood'-->
    <div *ngIf="type=='FastFood'">
      <h2>Fast Food List</h2>
      <ion-list *ngFor="let item of fastFoodRef$ | async">
        <div *ngIf="returnStation(item)">
          <button ion-item *ngIf="returnHalal(item)" (click)="findMap(item)">
            <p>Restaurant Name: {{item.name}}</p>
            <p>Restaurant Lat: {{item.lat}}</p>
            <p>Restaurant Long: {{item.lng}}</p>
            <p>Halal: {{item.halal}}</p>
          </button>
        </div>
      </ion-list>
    </div>

    <!--If type is 'FamilyStyle'-->
    <div *ngIf="type=='FamilyStyle'">
      <h2>Family Style List</h2>
      <ion-list *ngFor="let item of familyStyleRef$ | async">
        <div *ngIf="returnStation(item)">
          <button ion-item *ngIf="returnHalal(item)" (click)="findMap(item)">
            <p>Restaurant Name: {{item.name}}</p>
            <p>Restaurant Lat: {{item.lat}}</p>
            <p>Restaurant Long: {{item.lng}}</p>
            <p>Halal: {{item.halal}}</p>
          </button>
        </div>
      </ion-list>
    </div>

    <!--If type is 'Japanese'-->
    <div *ngIf="type=='Japanese'">
      <h2>Japanese List</h2>
      <ion-list *ngFor="let item of japaneseRef$ | async">
        <div *ngIf="returnStation(item)">
          <button ion-item *ngIf="returnHalal(item)" (click)="findMap(item)">
            <p>Restaurant Name: {{item.name}}</p>
            <p>Restaurant Lat: {{item.lat}}</p>
            <p>Restaurant Long: {{item.lng}}</p>
            <p>Halal: {{item.halal}}</p>
          </button>
        </div>
      </ion-list>
    </div>
  </div>

</ion-content>