<ion-header>

	<ion-navbar>
		<ion-title>Hello Tourist</ion-title>
		<ion-buttons end>
			<button *ngIf="user == {}; else notShow" (click)="loginClicked()" ion-button>Login&nbsp;
				<ion-icon name="key"></ion-icon>
			</button>
			<ng-template #notShow>
				<button (click)="logoutClicked()" ion-button>Logout&nbsp;
					<ion-icon name="close"></ion-icon>
				</button>
			</ng-template>
		</ion-buttons>
	</ion-navbar>
	<style>
		.black {
			color: black;
		}
	</style>

</ion-header>

<ion-content padding>

	<ion-list>

		<ion-item>
			<ion-label class="black">MONORAIL STATIONS</ion-label>
			<ion-select (ionChange)="stationOpt();" [(ngModel)]="station">
				<ion-option value="KL Sentral">KL Sentral</ion-option>
				<ion-option value="Imbi">Imbi</ion-option>
				<ion-option value="Bukit Bintang">Bukit Bintang</ion-option>
				<ion-option value="Medan Tuanku">Medan Tuanku</ion-option>
				<ion-option value="Chow Kit">Chow Kit</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label class="black">INFORMATION</ion-label>
			<ion-select (ionChange)="choiceOpt();" [(ngModel)]="choice">
				<ion-option value="Hotel">Hotel</ion-option>
				<ion-option value="Restaurant">Restaurant</ion-option>
				<ion-option value="Mall">Shopping</ion-option>
				<ion-option value="Attraction">Attraction</ion-option>
			</ion-select>
		</ion-item>

		<div *ngIf="choice=='Hotel'">
			<ion-item>
				<ion-label class="black">HOTEL DISTANCE</ion-label>
				<ion-select (ionChange)="distanceOpt();" [(ngModel)]="distance">
					<ion-option value="Near">Near (&lt; 100m)</ion-option>
					<ion-option value="Intermediate">Intermediate (100m - 500m)</ion-option>
					<ion-option value="Far">Far (&gt; 500m)</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label class="black">HOTEL RATE (PER NIGHT)</ion-label>
				<ion-select (ionChange)="rateOpt();" [(ngModel)]="rate">
					<ion-option value="Low">Low (&lt; RM100)</ion-option>
					<ion-option value="Normal">Normal (RM 100 - RM 250)</ion-option>
					<ion-option value="High">High (&gt; RM250)</ion-option>
				</ion-select>
			</ion-item>
		</div>

		<div *ngIf="choice=='Restaurant'">
			<ion-item>
				<ion-label class="black">RESTAURANT DISTANCE</ion-label>
				<ion-select (ionChange)="distanceOpt();" [(ngModel)]="distance">
					<ion-option value="Near">Near (&lt; 250m)</ion-option>
					<ion-option value="Intermediate">Intermediate (250m - 1000m)</ion-option>
					<ion-option value="Far">Far (&gt; 1000m)</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label class="black">RESTAURANT TYPE</ion-label>
				<ion-select (ionChange)="typeOpt();" [(ngModel)]="type">
					<ion-option value="Any">Any</ion-option>
					<ion-option value="FastFood">Fast Food</ion-option>
					<ion-option value="Cafe">Cafe</ion-option>
					<ion-option value="FamilyStyle">Family Style</ion-option>
					<ion-option value="Japanese">Japanese</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>HALAL</ion-label>
				<ion-toggle (ionChange)="halalOpt();" [(ngModel)]="halal"></ion-toggle>
			</ion-item>
		</div>

		<div *ngIf="choice=='Mall'">
			<ion-item>
				<ion-label class="black">SHOPPING TYPE</ion-label>
				<ion-select (ionChange)="sTypeOpt();" [(ngModel)]="sType">
					<ion-option value="Groceries">Groceries</ion-option>
					<ion-option value="Apparel">Apparel</ion-option>
					<ion-option value="Mall">Mall</ion-option>
					<ion-option value="Store">Convinience Stores</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label class="black">SHOPPING DISTANCE</ion-label>
				<ion-select (ionChange)="distanceOpt();" [(ngModel)]="distance">
					<ion-option value="Near">Near (&lt; 250m)</ion-option>
					<ion-option value="Intermediate">Intermediate (250m - 500m)</ion-option>
					<ion-option value="Far">Far (&gt; 500m)</ion-option>
				</ion-select>
			</ion-item>
		</div>

		<div *ngIf="choice=='Attraction'">
			<ion-item>
				<ion-label class="black">ATTRACTION DISTANCE</ion-label>
				<ion-select (ionChange)="distanceOpt();" [(ngModel)]="distance">
					<ion-option value="Near">Near (&lt; 100m)</ion-option>
					<ion-option value="Intermediate">Intermediate (100m - 500m)</ion-option>
					<ion-option value="Far">Far (&gt; 500m)</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label class="black">ATTRACTION FEE</ion-label>
				<ion-select (ionChange)="rateOpt();" [(ngModel)]="rate">
					<ion-option value="Low">Low (&lt; RM 50)</ion-option>
					<ion-option value="Normal">Normal (&ge; RM 50)</ion-option>
				</ion-select>
			</ion-item>
		</div>

		<div *ngIf="choice!='No'">
			<ion-row>
				<ion-col style="text-align: center;">
					<button ion-button color="danger" (click)="reset()">Reset</button>
				</ion-col>
				<ion-col style="text-align: center;">
					<button ion-button color="primary" (click)="result()">Search</button>
				</ion-col>
			</ion-row>
			<div *ngIf="user=='test@test.com'">
				<ion-row>
					<ion-col style="text-align: center;">
						<button ion-button navPush="HotelListPage"> Hotel list </button>
					</ion-col>
				</ion-row>
			</div>
		</div>
	</ion-list>

</ion-content>