<ion-header>

	<ion-navbar>
		<ion-title>Hello Tourist</ion-title>
	</ion-navbar>
	<style>
		.black {
			color: black;
		}
	</style>

</ion-header>

<ion-content padding>

	<ion-list>

		<ion-item>
			<ion-label class="black">MONORAIL STATIONS</ion-label>
			<ion-select (ionChange)="stationOpt();" [(ngModel)]="station">
				<ion-option value="KL Sentral">KL Sentral</ion-option>
				<ion-option value="Imbi">Imbi</ion-option>
				<ion-option value="Bukit Bintang">Bukit Bintang</ion-option>
				<ion-option value="Medan Tuanku">Medan Tuanku</ion-option>
				<ion-option value="Chow Kit">Chow Kit</ion-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label class="black">SEARCHING FOR...</ion-label>
			<ion-select (ionChange)="choiceOpt();" [(ngModel)]="choice">
				<ion-option value="Hotel">Hotel</ion-option>
				<ion-option value="Restaurant">Restaurant</ion-option>
				<ion-option value="Mall">Mall</ion-option>
				<ion-option value="Tourist Attraction">Tourist Attraction</ion-option>
			</ion-select>
		</ion-item>

		<div *ngIf="choice=='Hotel'" class="line">
			<ion-item>
				<ion-label class="black">HOTEL DISTANCE</ion-label>
				<ion-select (ionChange)="distanceOpt();" [(ngModel)]="distance">
					<ion-option value="Near">Near (&lt; 100m)</ion-option>
					<ion-option value="Intermediate">Intermediate (100m - 500m)</ion-option>
					<ion-option value="Far">Far (&gt; 500m)</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label class="black">HOTEL RATE (PER NIGHT)</ion-label>
				<ion-select (ionChange)="rateOpt();" [(ngModel)]="rate">
					<ion-option value="Low">Low (&lt; RM100)</ion-option>
					<ion-option value="Normal">Normal (RM 100 - RM 250)</ion-option>
					<ion-option value="High">High (&gt; RM250)</ion-option>
				</ion-select>
			</ion-item>
		</div>

		<div *ngIf="choice=='Restaurant'" class="line">
			<ion-item>
				<ion-label class="black">RESTAURANT DISTANCE</ion-label>
				<ion-select (ionChange)="distanceOpt();" [(ngModel)]="distance">
					<ion-option value="Near">Near (&lt; 250m)</ion-option>
					<ion-option value="Intermediate">Intermediate (250m - 1000m)</ion-option>
					<ion-option value="Far">Far (&gt; 1000m)</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label class="black">RESTAURANT TYPE</ion-label>
				<ion-select (ionChange)="typeOpt();" [(ngModel)]="type">
					<ion-option value="Any">Any</ion-option>
					<ion-option value="FastFood">Fast Food</ion-option>
					<ion-option value="Cafe">Cafe</ion-option>
					<ion-option value="FamilyStyle">Family Style</ion-option>
					<ion-option value="Japanese">Japanese</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>HALAL</ion-label>
				<ion-toggle (ionChange)="halalOpt();" [(ngModel)]="halal"></ion-toggle>
			</ion-item>
		</div>

		<div *ngIf="choice=='Mall'" class="line">
			<ion-item>
				<ion-label class="black">MALL DISTANCE</ion-label>
				<ion-select (ionChange)="distanceOpt();" [(ngModel)]="distance">
					<ion-option value="Near">Near (&lt; 100m)</ion-option>
					<ion-option value="Intermediate">Intermediate (100m - 500m)</ion-option>
					<ion-option value="Far">Far (&gt; 500m)</ion-option>
				</ion-select>
			</ion-item>
		</div>

		<div *ngIf="choice=='Tourist Attraction'" class="line">
			<ion-item>
				<ion-label class="black">TOURIST ATTRACTION</ion-label>
				<ion-select (ionChange)="distanceOpt();" [(ngModel)]="distance">
					<ion-option value="Near">Near (&lt; 100m)</ion-option>
					<ion-option value="Intermediate">Intermediate (100m - 500m)</ion-option>
					<ion-option value="Far">Far (&gt; 500m)</ion-option>
				</ion-select>
			</ion-item>
		</div>

		<div *ngIf="choice!='No'">
			<ion-row>
				<ion-col style="text-align: center;">
					<button ion-button (click)="result()">Search</button>
				</ion-col>
				<ion-col style="text-align: center;">
					<button ion-button (click)="reset()">Reset</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col style="text-align: center;">
					<button ion-button navPush="HotelListPage"> Hotel list </button>
				</ion-col>
			</ion-row>
		</div>
	</ion-list>

</ion-content>