<ion-header>

  <ion-navbar>
    <ion-title>Information Page</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item class="info">
    <h2>Information</h2>

    <div *ngIf="info == 'Hotel'">

      <img width="360px" height="360px" src="{{item.image}}" />
      <p>Name: {{item.name}}</p>
      <p>Distance: {{item.hDistance}}m</p>
      <p>Rate: RM {{item.hRate}}</p>
    </div>

    <div *ngIf="info == 'Mall'">
      <img width="360px" height="360px" src="{{item.image}}" />
      <p>Name: {{item.name}}</p>
      <p>Distance: {{item.distance}}m</p>
      <p>Type: {{item.type}}</p>
      <p>Phone: {{item.phone}}</p>
    </div>

    <div *ngIf="info == 'Restaurant'">
      <img width="360px" height="360px" src="{{item.image}}" />
      <p>Name: {{item.name}}</p>
      <p>Distance: {{item.distance}}m</p>
      <p>Type: {{item.type}}</p>
      <p>Halal: {{item.halal}}</p>
    </div>

    <div *ngIf="info == 'Attraction'">
      <img width="360px" height="360px" src="{{item.image}}" />
      <p>Name: {{item.name}}</p>
      <p>Distance: {{item.distance}}m</p>
      <p>Fee: RM {{item.fee}}</p>
    </div>

  </ion-item>
</ion-content>