<ion-header>

  <ion-navbar>
    <ion-title>List of Hotels</ion-title>

    <ion-buttons end>
      <button navPush="AddHotelPage" ion-button>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item *ngFor="let hotel of hotelRef$ | async" detail-push navPush="EditHotelPage" [navParams]="{hotel:hotel}">
      {{hotel.station}} | {{hotel.name}}
    </ion-item>
  </ion-list>

  <ion-grid>hotel
    <ion-row>
      <ion-col>
        <b>key</b>
      </ion-col>
      <ion-col>
        <b>station</b>
      </ion-col>
      <ion-col>
        <b>name</b>
      </ion-col>
      <ion-col>
        <b>hRate</b>
      </ion-col>
      <ion-col>
        <b>hDistance</b>
      </ion-col>
      <ion-col>
        <b>image</b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of (hotelReff$ | async)?.slice().reverse()">
      <ion-col>
        {{item.key}}
      </ion-col>
      <ion-col>
        {{item.station}}
      </ion-col>
      <ion-col>
        {{item.name}}
      </ion-col>
      <ion-col>
        {{item.hRate}}
      </ion-col>
      <ion-col>
        {{item.hDistance}}
      </ion-col>
      <ion-col>
        {{item.image}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="mall">
    <ion-grid>mall
      <ion-row>
        <ion-col>
          <b>key</b>
        </ion-col>
        <ion-col>
          <b>station</b>
        </ion-col>
        <ion-col>
          <b>name</b>
        </ion-col>
        <ion-col>
          <b>distance</b>
        </ion-col>
        <ion-col>
          <b>type</b>
        </ion-col>
        <ion-col>
          <b>phone</b>
        </ion-col>
        <ion-col>
          <b>image</b>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of (mallRef$ | async)?.slice()">
        <ion-col>
          {{item.key}}
        </ion-col>
        <ion-col>
          {{item.station}}
        </ion-col>
        <ion-col>
          {{item.name}}
        </ion-col>
        <ion-col>
          {{item.distance}}
        </ion-col>
        <ion-col>
          {{item.type}}
        </ion-col>
        <ion-col>
          {{item.phone}}
        </ion-col>
        <ion-col>
          {{item.image}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

<div class="restaurant">
  <ion-grid>Restaurant
    <ion-row>
      <ion-col>
        <b>key</b>
      </ion-col>
      <ion-col>
        <b>station</b>
      </ion-col>
      <ion-col>
        <b>name</b>
      </ion-col>
      <ion-col>
        <b>type</b>
      </ion-col>
      <ion-col>
        <b>distance</b>
      </ion-col>
      <ion-col>
        <b>halal</b>
      </ion-col>
      <ion-col>
        <b>phone</b>
      </ion-col>
      <ion-col>
        <b>image</b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of (cafeRef$ | async)?.slice()">
      <ion-col>
        {{item.key}}
      </ion-col>
      <ion-col>
        {{item.station}}
      </ion-col>
      <ion-col>
        {{item.name}}
      </ion-col>
      <ion-col>
        Cafe
      </ion-col>
      <ion-col>
        {{item.distance}}
      </ion-col>
      <ion-col>
        {{item.halal}}
      </ion-col>
      <ion-col>
        {{item.phone}}
      </ion-col>
      <ion-col>
        {{item.image}}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of (ffRef$ | async)?.slice()">
      <ion-col>
        {{item.key}}
      </ion-col>
      <ion-col>
        {{item.station}}
      </ion-col>
      <ion-col>
        {{item.name}}
      </ion-col>
      <ion-col>
        FastFood
      </ion-col>
      <ion-col>
        {{item.distance}}
      </ion-col>
      <ion-col>
        {{item.halal}}
      </ion-col>
      <ion-col>
        {{item.phone}}
      </ion-col>
      <ion-col>
        {{item.image}}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of (familyRef$ | async)?.slice()">
      <ion-col>
        {{item.key}}
      </ion-col>
      <ion-col>
        {{item.station}}
      </ion-col>
      <ion-col>
        {{item.name}}
      </ion-col>
      <ion-col>
        FamilyStyle
      </ion-col>
      <ion-col>
        {{item.distance}}
      </ion-col>
      <ion-col>
        {{item.halal}}
      </ion-col>
      <ion-col>
        {{item.phone}}
      </ion-col>
      <ion-col>
        {{item.image}}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of (japRef$ | async)?.slice()">
      <ion-col>
        {{item.key}}
      </ion-col>
      <ion-col>
        {{item.station}}
      </ion-col>
      <ion-col>
        {{item.name}}
      </ion-col>
      <ion-col>
        Japanese
      </ion-col>
      <ion-col>
        {{item.distance}}
      </ion-col>
      <ion-col>
        {{item.halal}}
      </ion-col>
      <ion-col>
        {{item.phone}}
      </ion-col>
      <ion-col>
        {{item.image}}
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div class="attraction">
  <ion-grid>Attraction
    <ion-row>
      <ion-col>
        <b>key</b>
      </ion-col>
      <ion-col>
        <b>station</b>
      </ion-col>
      <ion-col>
        <b>name</b>
      </ion-col>
      <ion-col>
        <b>fee</b>
      </ion-col>
      <ion-col>
        <b>distance</b>
      </ion-col>
      <ion-col>
        <b>image</b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of (attractionRef$ | async)?.slice()">
      <ion-col>
        {{item.key}}
      </ion-col>
      <ion-col>
        {{item.station}}
      </ion-col>
      <ion-col>
        {{item.name}}
      </ion-col>
      <ion-col>
        {{item.fee}}
      </ion-col>
      <ion-col>
        {{item.distance}}
      </ion-col>
      <ion-col>
        {{item.image}}
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>